### Import Libraries

In [1]:
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

### Retrieve DataSet

In [2]:
data = pd.read_csv('INX_Future_Inc.csv')
data.head()

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,...,EmpJobRole_Sales Executive,EmpJobRole_Sales Representative,EmpJobRole_Senior Developer,EmpJobRole_Senior Manager R&D,EmpJobRole_Technical Architect,EmpJobRole_Technical Lead,BusinessTravelFrequency_Travel_Frequently,BusinessTravelFrequency_Travel_Rarely,OverTime_Yes,Attrition_Yes
0,32,10,3,4,55,3,2,4,1,12,...,1,0,0,0,0,0,0,1,0,0
1,47,14,4,4,42,3,2,1,2,12,...,1,0,0,0,0,0,0,1,0,0
2,40,5,4,4,48,2,3,1,5,21,...,1,0,0,0,0,0,1,0,1,0
3,41,10,4,2,73,2,5,4,3,15,...,0,0,0,0,0,0,0,1,0,0
4,60,16,4,1,84,3,2,1,8,14,...,1,0,0,0,0,0,0,1,0,0

### Extract Features and Target from DataSet

In [3]:
X = data.drop(['PerformanceRating'],axis=1)
Y = data['PerformanceRating']

### Split the Data into Training and Testing

In [4]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.24,random_state=0)

### Train the Random Forest Classifier model

In [5]:
classifier = RandomForestClassifier(n_estimators=104, random_state=40)
classifier.fit(X_train,Y_train)
y_pred = classifier.predict(X_test)

#### Accuracy

In [6]:
accuracy_score(Y_test,y_pred)

0.9583333333333334

#### Confusion Matrix

In [7]:
confusion_matrix(Y_test,y_pred)

array([[ 37,   3,   0],
       [  2, 213,   2],
       [  0,   5,  26]], dtype=int64)

#### Classification Report

In [8]:
print(classification_report(Y_test,y_pred))

             precision    recall  f1-score   support

          2       0.95      0.93      0.94        40
          3       0.96      0.98      0.97       217
          4       0.93      0.84      0.88        31

avg / total       0.96      0.96      0.96       288